nav {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #141313;
}

nav li {
    padding: 10px 15px;
}

.link {
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: black;
    transition: 0.35s;
}

.link:hover {
    background-color: #5f5f5f;
    padding: 10px;
    color: black;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(150, 150, 150);
    position:fixed;
    top:0;                 
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    outline: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    background-image: linear-gradient(183deg,rgb(0, 0, 0), rgba(58, 0, 0, 0.5));
    margin: 0 auto;
  }

.formatting {              
    margin: 10px;
    text-indent: 40px;     
    text-shadow: 0 0 2px rgb(221, 221, 221);
    font-size: 200%;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}